<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <title>Hírek</title>
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
        <link rel="stylesheet" href="css/index.css" type="text/css"/>
        <link rel="stylesheet" href="css/header.css" type="text/css"/>
        <link rel="stylesheet" href="css/footer.css" type="text/css"/>
        <link rel="icon" href="assets/favicon.PNG"/>
        <script type="text/javascript" src="js/script.js"></script>
    </head>
    <body>
        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
        <header th:replace="header::headerfragment"></header>
        <main th:replace="main::mainfragment"></main>
        <footer th:replace="footer::footerfragment"></footer>
    </body>
</html>