<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Hírek</title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="css/header.css" type="text/css"/>
    <link rel="stylesheet" href="css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="css/profil.css" type="text/css"/>
    <link rel="icon" href="assets/favicon.PNG"/>
</head>
<body>
    <header th:replace="header::headerfragment"></header>
    <main>
        <div id="profil">
            <h2>Profilom</h2>
                <p>Név</p>
                    <p id="profilnev">Arany János</p>
                <p>Email</p>
                    <p id="profilemail">valaki@email.com</p>
                <p>Jelszó</p>
                    <p id="profiljelszo">**********</p>
            <button id="profilbutton">Szerkesztés</button>
        </div>
    </main>
    <footer th:replace="footer::footerfragment"></footer>
</body>
</html>